*{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}
p{
    text-indent: 25px;
    margin-bottom: 20px;
}
li{
    padding-bottom: 20px;
}
header{
    display: block;
    position: fixed;
    width: 100vw;
    background-color: rgb(245, 245, 245);
    z-index: 3;
}
body{
    font-family: "Andale mono", monospace;
    color: #000000;
    padding: 0;
}
#headhref{
    display: inline;
    word-spacing: 50px;
}
#conteiner{
    max-width: 100vw;
    min-height: 100vh;
    background-color: lightgray;
}
#head{
    text-align: center;
    height: 40px;
    width: 100%;
    padding-top: 20px;
}
#center1{
    background-color: lightgray;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('./pics/nona.png') center;
    background-size: cover;
    height: 100vh;
}
#center1text{
    margin-left: 8vw;
    margin-right: 25vw;
    text-align: left;
    padding-top: 40vh;
    color: white;
}
#about{
    text-align: center;
    background-color: lightgray;
    min-height: 60vh;
    padding-top: 3vh;
}
#about_text{
    text-align: left;
    margin-left: 8vw;
    margin-top: 3vh;
    font-size: 15pt;
}
#portfolio{
    text-align: center;
    background-color: whitesmoke;
    min-height: 60vh;
    padding-top: 3vh;
}
#contact{
    text-align: center;
    background-color: lightgray;
    min-height: 60vh;
    padding-top: 3vh;
}
#foot{
    background-color: darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 5vh;
    text-align: center;
}

/*corousel CSS*/

.clear{
    clear: both;
}
.carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 600px;
    overflow: hidden;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.carousel-track img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}
.carousel-button-prev {
    left: 0;
}
.carousel-button-next {
    right: 0;
}

/*lines*/

